.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    background: transparent;
    border: 2px solid #000;
    border-radius: 10px;

    // outline: #000 solid 2px;

    width: 100%;
    color: var(--primary-color);

    &:focus {
        border-color: var(--secondary-color);
    }
}

.clear {
    border: none;
}
