.dark {
    --bg-color: var(--bg-color-dark);
    --inverted-bg-color: var(--bg-color-light);
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --inverted-primary-color: var(--primary-color-light);
    --inverted-secondary-color: var(--secondary-color-light);
}
