.app.dark {
    --bg-color: #090981;
    --inverted-bg-color: #ccccd0;
    --primary-color: #b1d701;
    --secondary-color: #c96604;
    --inverted-primary-color: #0801af;
    --inverted-secondary-color: #2a0186;
}
