.app.light {
  --bg-color: #ccccd0;
  --inverted-bg-color: #090981;

  --primary-color: #0801af;
  --secondary-color: #2a0186;
  --inverted-primary-color: #b1d701;
  --inverted-secondary-color: #c96604;
}
