.pageError {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageError p {
    padding: 20px;
    color: var(--primary-color);
    font: var(--font-l);
}
